<!-- navbar.html - Django Template Component -->
{% load static %}

<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo"><img src="{% static 'images/I CODE LOGOS  V2_Page_2.png' %}" alt="I-CODE Logo" style="top: auto; height: 50px;width: 100px;" /></a>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'programs' %}">Programs</a></li>
            <li><a href="{% url 'membership' %}">Membership</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
        </ul>
        <div class="nav-auth">
            <a href="{% url 'login' %}" class="btn-login">Login</a>
            <a href="{% url 'register' %}" class="btn-signup">Sign Up</a>
        </div>
    </div>
</nav>